

.barra__navegacao {
    background-color: rgb(47,47,114) !important;
}

.nav__menu {
    color: white !important;
    background-color: #37cfcf !important;
    margin: 0.3em !important;
    border-radius: 0.3em !important;
    font-weight: bold !important;
}

.nav__menu:hover {
    background-color: azure !important;
    color: black !important;
    font-weight: bold !important;
}

.botao__pesquisa {
    color: white !important;
    background-color: #37cfcf !important;
    border-radius: 0.3em !important;
    border-color: rgb(47, 47, 114) !important;
    font-weight: bold !important;
}

.img-car {
    max-height: 48em;
}

.carousel-caption {
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: #edededad !important;
    width: auto !important;
    color: black !important;
    font-weight: bold !important;
}

.carousel-caption h3 {
    font-size: 2em !important;
    font-weight: bold;
}

.divisao {
    background-color: rgb(47, 47, 114) !important;
    color: white !important;
    text-align: center !important;
    padding: 5% !important;
}

.sec-pacotes {
    margin-left: 10% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 2% !important;
}

.card {
    margin-left: 2em;
    padding: 1em;
}

footer {
    background-color: rgb(47, 47, 114);
    padding: 1em;
    color: white;
    text-align: center;
}

.formulario {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.356) !important;
    background-color: rgb(248, 248, 248) !important;
    color: rgb(231, 90, 39) !important;
    font-weight: bold;
    margin: 2% 0.1% !important;
    padding: 1em !important;
   
  
}

.formulario-redes {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.356) !important;
    background-color: rgb(248, 248, 248) !important;
    flex: 1 !important;
    padding: 1em !important;
    margin: 2% 0.1% !important;
    text-align: center !important;
}

.imagem-logo-redes {
    padding: 3em !important;
}

.parte-formulario-mae {
    margin-left: 3% !important;
    margin-right: 3% !important;
    background-color: rgb(255, 255, 255) !important;
}

.botao-enviar {
    margin-top: 1em !important;
    background-color: rgb(240, 209, 52) !important;
    color: white !important;
    border: none !important; 
}
.imagens-bloco{
    justify-content: center !important;
}

@media (min-width:200px) and (max-width: 768px){
    
    iframe {
        width: 100% !important;
    }

    footer {
        margin-top: 1em !important;
    }

    footer, h5 {
        font-size: 1em !important;
    }

    .pacotes-folder {
        width: 90% !important;
        margin: 1em !important;
    }

    .nav-item {
        width: 60% !important;;
        margin: 1px !important;
        padding: 1px !important;
    }
    
    .nav__menu {
        font-size: 1em !important;
        padding: 5px !important;
    }

}